Assets/StreamingAssets/build_info
Assets/StreamingAssets/AssetBundles
Library
*.vsconfig
*.csproj
Logs
Unity-Frame.sln
Temp
obj
.vs
*.dwlt
HybridCLRData
HybridCLRData/hybridclr_repo
HybridCLRData/il2cpp_plus_repo
UserSettings/EditorUserSettings.asset
Assets/StreamingAssets/Config/Generate
